<header class="site-header">
    <div class="container">
        <h1>Food For The Soul</h1>
        <h6>A Recipe Book</h6>
    </div>
    <div class="container">
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li>Add Recipe</li>
                <li>About Us</li>
                <li>Login</li>
            </ul>
        </nav>
</div>
</header>