<header class="site-header">
    <div class="container">
        <h1>Food For The Soul</h1>
        <h6>A Recipe Book</h6>
    </div>
    <div class="container-nav">
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li> <a href="/recipeBook/new">Add Recipe</a></li>
                <li><a href="/recipeBook/<%=recipe._id%>/edit">Edit</a></li>
                <li> <a href="/recipeBook">Home</a></li>
                <li>Login</li>
        </nav>
</div>
</header>