<header class="site-header">
    <div class="container">
        <h1>Food For The Soul</h1>
        <h6>A Recipe Book</h6>
    </div>
    <div class="container-nav">
        <nav class="main-nav">
            <ul class="main-nav">
                <li> <a href="/recipeBook/new">Add Recipe</a></li>
                <li> <a href="/recipeBook">Home</a></li>
                <li> <a href="/recipeBook/aboutMe">About Me</a></li>
        </nav>
    </div>
<style>
    .container{
        background-image:url("https://thumbs.dreamstime.com/z/autumn-breakfast-brunch-buffet-frame-against-white-wood-banner-background-pumpkin-spice-pancakes-waffles-apple-french-toast-198052357.jpg");
        background-size: 200px 100px 100px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        }
    .container-nav{
        border: double;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
  background-color: #f1f1f1;
    }
    nav.main-nav a:hover {
        border-bottom: 3px solid orange;
        text-decoration: none;
}
ul.main-nav {
    display: block;
    text-align: center;
}
li {
    display: inline;
    font-size: 20px;
    text-align: center;
    margin: 80px 80px;
    font-family: Caveat Brush;
}
h1{
    font-family: Rock Salt;
    padding: 50px;
    font-weight: bolder;
}
</style>

</header>