<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %>
</head>
<%- include('./partials/header-about.ejs')%>
<body>
    <div class="row">
        <div class="column">
            <h2>
                About Me
            </h2>
        </div>
    <div>
    <div class="row-3">
        <div class="column-img">
            <a href="https://ibb.co/XtwztZj"><img src="https://i.ibb.co/bXfrXgQ/576-C95-D1-AE6-A-4-E80-9596-DE79-B6-A08-E7-E.jpg" alt="576-C95-D1-AE6-A-4-E80-9596-DE79-B6-A08-E7-E" border="0"></a>        </div>
    </div>
    <div class="row-2">
        <div class="container-ingred">
            <div class="column">
                <p>
                    <span>Hi, my name is Victoria Onyema </span> <br>
                    I have a love and passion for creating different dishes from different cultures. <br>
                    I started cooking at a very young age because my parents are from Nigeria and I grew up only eating dishes from my culture. <br>
                    I branched out and started learning from different recipe blogs and youtube. <br>
                    As my skill grew, others have continuously asked for my recipes. <br>
                    This has inspired me to create a way for many people to have access to my creations and add their recipes as well.
                </p>
                <ul>
            </div>
    </div>
            <style>
                body{
                    background: linear-gradient(90deg, rgba(237,53,5,1) 0%, rgba(237,132,7,1) 35%, rgba(93,47,3,1) 100%);
                    font-family: Caveat Brush;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: flex-end;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                }
                .row{
                    display:flex;
                    gap:10px;
                }
                .row-2{
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 0;
                    max-width: 75%;
                    align-items: flex-start;
                }
                .column{
                    padding: 1rem 0;
                    flex: 1 1 0;
                    border: double;
                    background-color: white;
                }
                .column-img{
                    display: flex;
                    justify-content: space-around;

                }
                p{
                    font-size: 25px;
                }
                img {
                    border-radius: 50%;
                    width: 500px;
                    height: 500px;
                    }
                h2{
                    text-align: center;
                }
                ul{
                    margin-right: 20px;

                }
                .list-group-item {
                    margin: 20px;
                }
                h4 {
                    text-align: center;
                }
                span{
                    font-size: 50px;
                    color: orange;
                }
            </style>
        </body>
</html>