body{
    background: linear-gradient(90deg, rgba(237,53,5,1) 0%, rgba(237,132,7,1) 35%, rgba(93,47,3,1) 100%);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
body{
    padding: 2rem 0rem;
    background: rgb(237,53,5);
    background: linear-gradient(90deg, rgba(237,53,5,1) 0%, rgba(237,132,7,1) 35%, rgba(93,47,3,1) 100%);
    }
li {
    display: inline;
    font-size: 25px;
    text-align: center;
    font-family: Caveat Brush;
    }
.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    }
.card-img-top {
    width: 300px;
    height: 300px;
    }
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
